{% extends "base.html" %}

{% block title %}SW Algorithm{% endblock %}

{% block jumbotron_title %}Smith-Waterman Algorithm{% endblock %}
{% block jumbotron_subtitle %}Please fill required fields:{% endblock %}

{% block content %}
    <form action="/smithwaterman/result/" enctype="multipart/form-data" method="post" class="text-left">
        {% csrf_token %}
        <div class="form-group container file-upload">
            <label>String 1:</label>
            <label class="custom-file col-12">
                <input type="file" id="op-str-1" name="file_1" class="custom-file-input form-control">
                <span class="custom-file-control form-control-file"></span>
            </label>
        </div>
        <div class="form-group container file-upload">
            <label for="op-str-2">String 2:</label>
            <label class="custom-file col-12">
                <input type="file" id="op-str-2" name="file_2" class="custom-file-input form-control">
                <span class="custom-file-control form-control-file"></span>
            </label>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}

{# For uploading files... #}

{% block additional_scripts %}
    <script>
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val();
            $(this).next('.form-control-file').addClass("selected").html(fileName);
        });
    </script>
{% endblock %}