{% extends "base.html" %}

{% block title %}NW Algorithm{% endblock %}

{% block jumbotron_title %}Needleman-Wunsch Algorithm{% endblock %}
{% block jumbotron_subtitle %}Please fill required fields:{% endblock %}

{% block content %}
    <form action="/needlemanwunsch/result/" enctype="multipart/form-data" method="post" class="text-left">
        {% csrf_token %}
        <div class="text-center">
            <div class="btn-group margin-bottom-2" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="seq_type" value="0" id="seq-type-0" autocomplete="off" checked> DNA
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="seq_type" value="1" id="seq-type-1" autocomplete="off"> Protein
                </label>
            </div>
        </div>
        <div class="form-group container file-upload">
            <label>String 1:</label>
            <label class="custom-file col-12">
                <input type="file" id="op-str-1" name="file_1" class="custom-file-input form-control">
                <span class="custom-file-control form-control-file"></span>
            </label>
        </div>
        <div class="form-group container file-upload">
            <label for="op-str-2">String 2:</label>
            <label class="custom-file col-12">
                <input type="file" id="op-str-2" name="file_2" class="custom-file-input form-control">
                <span class="custom-file-control form-control-file"></span>
            </label>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}

{% block additional_scripts %}
    <script>
        $('.custom-file-input').on('change', function () {
            var fileName = $(this).val();
            $(this).next('.form-control-file').addClass("selected").html(fileName);
        });
    </script>
{% endblock %}